.container, .both-sections {
        -fx-background-image: url('white_background.jpg');
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}

.both-sections{
        -fx-padding: 0;
        -fx-background-color: transparent;
        -fx-background-insets: 0;
        -fx-border-width: 0;
        -fx-border-insets: 0;
        -fx-min-width: 300px; /* Adjust the width of the divider */
        -fx-max-width: 400px;
}

.play-button {
    -fx-background-color: #000000;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-padding: 0;
}

.pause-button, .stop-button {
    -fx-background-color: #000000;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-padding: 0;

}

.play-button:hover,
.pause-button:hover,
.stop-button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-transition-duration: 0.2s;
}

.play-button,
.pause-button,
.stop-button {
    -fx-transition-duration: 0.2s;
}

.play-button:pressed,
.pause-button:pressed,
.stop-button:pressed {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


.progress-bar {
    -fx-accent: #00ff00; /* Set progress bar color */
}



